<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">BookShop</li>
      <li><a href="<%= books_path %>">Startseite</a></li>
    </ul>
  </div>
</div>